@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #000;
  box-sizing: border-box;
  font-family: "bentonsans-book-regular", sans-serif;
}
footer {
  width: 100%;
  background: #e0dad5;
  margin-top: 4vw;
}
.main-content {
  display: flex;
}
.content {
  font-size: 14px;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 1px;
  width: 100%;
  background: #000;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 15%;
  background: #000;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f7d4db;
}
.center .content .fas {
  font-size: 0.9rem;
  background: #fff;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f7d4db;
}
.center .content .text {
  font-size: 0.9rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 0.9rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 0.9rem;
  background: #fff;
  padding-left: 10px;
  border: 1px solid #656565;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #f4c6cf;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #fff;
  border: 1px #656565 solid;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: #f4c6cf;
}
.bottom center {
  padding: 5px;
  font-size: 0.8rem;
  background: #e0dad5;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #656565;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
