::selection {
  color: #fff;
  background: #000000;
}

.date-wrapper {
  margin-top: 1vh;
  display: flex;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 5px rgba(0, 0, 0, 0.15);
}

.date-wrapper .search-input {
  background: #fff;
  width: 28%;
  position: relative;
}

.date-wrapper .search-icon {
  width: 16%;
  position: relative;
}

.date-wrapper .search-icon button {
  background: #f4c6cf;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  border: none;
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 0px 0 20px;
  font-size: 0.9rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search- input.active input {
  border-radius: 5px 5px 0 0;
}

.title-main {
  font-size: 2rem;
  font-weight: bold;
  color: #e39c9c;
}

.title-sub {
  font-size: 1.4rem;
  font-weight: bold;
}

#search-des {
  color: #777676;
  font-size: 1rem;
}

.info {
  margin-bottom: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

.book-info {
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 6vh;
}

.book-text {
  font-size: 1.5rem;
  font-weight: 300;
}

.book-change-name {
  font-size: 2rem;
}

.title-view-more {
  padding-left: 4vw;
  padding-right: 4vw;
  font-size: x-large;
  margin-bottom: 2vh;
  font-weight: 400;
}

.view-more {
  font-size: medium;
  color: #e39c9c;
  padding-left: 0.5vw;
}

@media only screen and (max-width: 600px) {
  .date-wrapper {
    display: flex;
    margin-top: 3vw;
    margin-bottom: 0vh;
    flex-direction: column;
    max-width: 75vw;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 5px rgba(0, 0, 0, 0.15);
  }

  .book-info {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 6vh;
  }

  .date-wrapper .search-input {
    background: #fff;
    width: 100%;
    position: relative;
  }

  .date-wrapper .search-icon {
    background: #e39c9c;
    width: 100%;
    height: 40px;
  }

  .date-wrapper .search-icon button {
    font-size: 1rem;
    background: #f4c6cf;
    width: 100%;
    height: 100%;
  }

  #search-des {
    font-size: 0.9rem;
  }
}
